body {
    background-color: beige;
}

.cork-board {
    background-color: #c08a61;
    border: 10px solid #d8b08b;
}

#rolls_output li:before {
    content: '\27A3';
    margin-left: -20px;
    margin-right: 10px;
}

#rolls_output {
    list-style-type: none;
}

.roll-time {
    font-size: 80%;
    color: rgb(88, 88, 88);
}

.roll-user {
    font-weight: bold;
    color: rgb(88, 88, 88);
}

.roll-input {
    font-style: italic;
}

.roll-output {
    color: green;
    font-weight: bold;
}
